*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
}

.countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
    font-size: 70px;
}